.color-red {
  color:hsl(348, 100%, 61%)
}

.color-green {
  color: hsl(141, 71%, 48%)
}

.color-black {
  color: hsl(0, 0%, 4%)
}

.bold {
  font-weight: bold;
}

.text-right {
  text-align: right;
}

.half {
  opacity: 0.5;
}

.gray {
  opacity: 0.5;
  background: #EEE
}

.headline {
  box-shadow: none;
  border: none;
  margin: 0 !important;
}

.modal-body{
  padding: 2rem 0;
}

.coins .box {
  margin-bottom: .7rem;
  padding: .75rem
}

.is-active{
  box-shadow: inset 0 0 2px #555;
  border: none;
}

.search-list-img img {
  padding-top: 5px;
}

.list-img img {
  float: left;
  margin: 1px 5px 0 0;
}

.app-style {
  font-size: 0.8rem;
  font-family: 'Hind', sans-serif;
}

.tag{
  height: 1.5em !important;
}

.controls{
  padding: 3px !important;
}

.controls button{
  margin: 5px 5px 0 0px;
  float: right;
}

.box {
  border: none !important;
}